/Assigments/FirstDiagramm/nbproject/private/
/Assigments/FirstDiagramm/build/
/Workshops/Workshop4/nbproject/private/
/Assigments/AgeTest/nbproject/private/
/Assigments/AgeTest/build/
/Assigments/AgeTest/dist/
/Assigments/TestAge/nbproject/private/
/Assigments/TestAge/build/
/Prácticas/WindowsPractice/nbproject/private/
/Prácticas/WindowsPractice/build/
/Prácticas/WindowsPractice/dist/
/Assigments/CalcAge/nbproject/private/
/Assigments/CalcAge/build/
/Workshops/Polimorfism_Workshop_5/nbproject/private/
/Workshops/Polimorfism_Workshop_5/build/
/Workshops/WidgetCalendar/nbproject/private/
/Workshops/WidgetCalendar/build/
/Workshops/ReferenceParameters/nbproject/private/
/Workshops/ReferenceParameters/build/