/Assigments/FirstDiagramm/nbproject/private/
/Assigments/FirstDiagramm/build/
/Workshops/Workshop4/nbproject/private/
/Assigments/AgeTest/nbproject/private/
/Assigments/AgeTest/build/
/Assigments/AgeTest/dist/
/Assigments/TestAge/nbproject/private/
/Assigments/TestAge/build/