/Assigments/FirstDiagramm/nbproject/private/
/Assigments/FirstDiagramm/build/
/Workshops/Workshop4/nbproject/private/
/Assigments/AgeTest/nbproject/private/
/Assigments/AgeTest/build/
/Assigments/AgeTest/dist/
/Assigments/TestAge/nbproject/private/
/Assigments/TestAge/build/
/Prácticas/WindowsPractice/nbproject/private/
/Prácticas/WindowsPractice/build/
/Prácticas/WindowsPractice/dist/
/Assigments/CalcAge/nbproject/private/
/Assigments/CalcAge/build/
/Assigments/EncryptedPassword/nbproject/private/
/Assigments/EncryptedPassword/build/
/Assigments/Files/nbproject/private/
/Assigments/Files/build/
/Assigments/FileCsv/nbproject/private/